t5 {
	font-size: 50px;
	color: black;
}

t4 {
	font-size: 40px;
	color: black;
}

t3 {
	font-size: 30px;
	color: black;
}

t2 {
	font-size: 20px;
	color: black;
}

t1 {
	font-size: 10px;
	color: black;
}


.table1 {
  width: 100%;
  border-collapse: collapse;
  border-width: 3px;
  border-color: black;
  border-style: solid;
}
.table1 th, td {
	border-collapse: collapse;
  border-width: 3px;
  border-color: black;
  border-style: solid;
}
.table1 tr:hover {
  background-color: #e5e5e5;
}

.table2 {
  width: 100%;
  border-collapse: collapse;
  border-width: 3px;
  border-color: black;
  border-style: solid;
}
.table2 th, td {
	border-collapse: collapse;
  border-width: 3px;
  border-color: black;
  border-style: solid;
}


.imgavto{
	border: 3px solid #7B68EE;
}
.imgphoto{
	border: 3px solid #000000;
}

.link1{
	color: black;
	text-decoration: true;
}
.link1:hover{
	color: purple;
}

.linkTable{
	text-align: center;
	color: black;
	text-decoration: none;
}